* {
  accent:           #8585f5;
  background:       #262133;
  background-light: #373049;
  background-focus: #373049;
  foreground:       #ffffff;
  foreground-list:  #ffffff;
  on:               #97d28b;
  off:              #ff8e91;
}
