Xft.dpi:                        96
Xft.antialias:                  true

#define firark0 #282a36
#define firark1 #343746
#define firark2 #3e4154
#define firark3 #4a4e64
#define firark4 #e9e9e9
#define firark5 #efefef
#define firark6 #f9f9f9
#define firark7 #92b3ea
#define firark8 #a796de
#define firark9 #79a2e7
#define firark10 #9b88d9
#define firark11 #ff8e91
#define firark12 #ffac8d
#define firark13 #ffcb8d
#define firark14 #97d28b
#define firark15 #ff8faa

*.color0: firark1
*.color1: firark11
*.color2: firark7
*.color3: firark10
*.color4: firark7
*.color5: firark8
*.color6: firark4
*.color7: firark12
*.color8: firark3
*.color9: firark11
*.color10: firark7
*.color11: firark13
*.color12: firark7
*.color13: firark8
*.color14: firark14
*.color15: firark15
