#include </home/fuego/.termcolors/kodewolf>

Xft.dpi:                        96
Xcursor.size: 			16
 
URxvt*termName:                 xterm-256color
URxvt*font:                     xft:FuraCode Nerd Font Mono:pixelsize=12
URxvt*depth:                    32
URxvt*lineSpace:                1
URxvt*letterSpace:              -1 
URxvt*scrollBar:                false
URxvt*internalBorder:           24
URxvt*buffered:                 true
URxvt*saveLines:                9999
URxvt*hold:                     false
URxvt*jumpScroll:               false
URxvt*skipScroll:               false
URxvt*urgentOnBell:             true
URxvt*scrollstyle:              plain

! Colors
URxvt*background:   black
URxvt*foreground:   white
URxvt*cursorColor:  identifier 
URxvt*underlineColor: global

URxvt*color0: black
URxvt*color1: statement
URxvt*color2: identifier
URxvt*color3: global
URxvt*color4: identifier
URxvt*color5: statement
URxvt*color6: identifier
URxvt*color7: white
URxvt*color8: black
URxvt*color9: statement
URxvt*color10: identifier
URxvt*color11: global
URxvt*color12: identifier
URxvt*color13: statement
URxvt*color14: identifier
URxvt*color15: white
