Xft.dpi:                        96
Xft.antialias:                  true

URxvt*termName:                 xterm-256color
URxvt*font:                     xft:FuraCode Nerd Font:pixelsize=12:antialias=true
URxvt*depth:                    32
URxvt*lineSpace:                1
URxvt*letterSpace:              -0.5
URxvt*scrollBar:                false
URxvt*internalBorder:           28
URxvt*buffered:                 true
URxvt*saveLines:                9999
URxvt*hold:                     false
URxvt*jumpScroll:               false
URxvt*skipScroll:               false
URxvt*urgentOnBell:             true
URxvt*scrollstyle:              plain

#define space0 #282a36
#define space1 #343746
#define space2 #3e4154
#define space3 #4a4e64
#define space4 #e9e9e9
#define space5 #efefef
#define space6 #f9f9f9
#define space7 #92b3ea
#define space8 #a796de
#define space9 #79a2e7
#define space10 #9b88d9
#define space11 #ff8e91
#define space12 #ffac8d
#define space13 #ffcb8d
#define space14 #97d28b
#define space15 #ff8faa

URxvt*.foreground:   space4
URxvt*.background:   space0
URxvt*.cursorColor:  space4
URxvt*.cursorColor2:  space4
URxvt*.colorBD:  space4
URxvt*.colorUL:  space4

*.color0: space1
*.color1: space11
*.color2: space7
*.color3: space10
*.color4: space7
*.color5: space8
*.color6: space4
*.color7: space12
*.color8: space3
*.color9: space11
*.color10: space7
*.color11: space13
*.color12: space7
*.color13: space8
*.color14: space14
*.color15: space15
